absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer=
click
colorama
contourpy
cycler
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
packaging
pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-version
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
zipp
